p {
  display: block;
  margin-bottom: 30px;
}

a {
  display: block;
}

body {
  box-sizing: border-box;
  padding: 20px;
}

.choise {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
  align-items: center;
}

#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  padding: 16px 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  display: block;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  background: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.active {
  background: #4e75ff;
  color: #fff;
}

.active:hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: 'Montserrat', sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
}

.form > label {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.form > label input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
}

[name='delay'] {
  margin-top: 8px;
}

.form fieldset {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 30px 54px 14px 54px;
}

.form fieldset input {
  width: 20px;
  height: 20px;
  display: block;
}

.form fieldset label {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: center;
}

.form button {
  width: 100%;
  height: 40px;
  background: #4e75ff;
  color: #fff;
}

.form button:hover {
  background: #6c8cff;
}
